<!-- index.ejs -->
<!-- This is the homepage at localhost:3000/ -->

<%- include("partials/head") %>
<body>
  <%- include("partials/header") %>
  
  <h1>Message Board</h1>

  <% if (isAuth) { %>
    <h3>Welcome back, <%= firstName %></h3>
    <a href="view-messages">View Messages</a>
    <a href="create-new-message">Create new message</a>
  <% } else { %>
    <a href="/login">Login</a>
    <a href="/register">Register</a>
  <% } %>

</body>
<%- include("partials/footer") %>