<!-- membershipHint.ejs -->

<%- include("partials/head") %>

<body>
  <%- include("partials/header") %>
  <h6>So you want to become a member, huh? 
    <br>Okay, here's what you gotta do, go to the "secret-members-password" page to get the secret membership password.
    <br>Once you've got the password, head over to "become-a-member" page and enter the password.
    <br>If done correctly, you'll officially be a member!
    <br>Enjoy membership and all the great power and prestige it brings you.
  </h6>

</body>

<%- include("partials/footer") %>