<!-- secretMembersPassword.ejs -->

<%- include("partials/head") %>

<body>
  <%- include("partials/header") %>
  <h6>The password is: <span style="color:orange">orange</span>
  </h6>

</body>

<%- include("partials/footer") %>