/* style.css */

form {
  display: flex;
  flex-direction: column;
}

input {
  max-width: 250px;
}

button {
  max-width: 100px;
  margin-top: 10px;
  position: relative;
  left: 160px;
}

textarea {
  height: 200px;
  width: 300px;
}

a {
  color: inherit;
}

.secret-membership-link {
  opacity: 0;
}

.secret-membership-link:hover {
  animation: fadeIn 1s;
  opacity: 1;
}
.secret-membership-link:hover a {
  color: blue;
  opacity: 1;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
